# Virtual Environment
.venv/
venv/
env/

# Ignore contents but keep folders
before/*
after/*

# Keep folder
!before/README.md
!after/README.md

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
build/
dist/
*.egg-info/

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log